@import url('https://fonts.googleapis.com/css2?family=Exo:wght@200&family=Koulen&display=swap');

/*---------------------------------------Universal styles-----*/
body{
    font-family: "Exo", sans-serif;
    background-color: #6d0d0d;
    font-weight: 800;
}

h1, h2, h3, h4, h5{
    font-family: "Koulen", cursive;
}

.dark-text{
    color:#141414;
}

.light-text{
    color:#d8d2d2;
}
.center-text{
    text-align: center;
}



/* ----------------------------------------------------Nav bar */
.navbar-brand{
    font-family: 'Koulen', cursive;
    font-size: 30px;
    color:#9e0000 ;
}

.nav-link{
    color: #fafafa;
}

.navbar-toggler{
    border: none;
}

/* ----------------------------------------------------Header */

.hero-image{
    background: url('https://res.cloudinary.com/dl7iptr4y/image/upload/v1658136194/hero-image_ggid7b.jpg') no-repeat center;
    background-size: 100% auto;
    min-height: 450px;
    display:block;
    width: 100%;
    margin: auto;
    position: relative;
    /* NEED MEDIA QUERIES FOR HEIGHT ADJUSTMENT FOR UNDER 700PX WIDTH */
}
.consultation-alert{
    margin-bottom: 0;
}

header{
    margin: 0;
    padding: none;
    color:#fafafa;
    text-align: center;
    background-color: black;
}

header h1{
    padding-top: 10px;
    font-size: 75px;
}

header h2{
    font-weight: 700;
    font-family: "Exo", sans-serif;
}

.main-header{
    margin-bottom: 20px;
    height:300px;
    background: url("https://res.cloudinary.com/dl7iptr4y/image/upload/v1658137215/header-photo_ll6h0s.jpg") no-repeat center;
    background-size: 600px;
    background-position: 500px;
}

.title-block {
    height: 18vh;
}

/* ----------------------------------------------------Artwork Page */

.card-img-top {
    width: 100%;
    height: 35vw;
    object-fit: cover;
}

.artwork-rows{
    color: #fafafa;
    text-decoration: none;

}

.card{
    border: none;
}
/* --------------------------POST PAGE------------------------*/

.post-image{
    max-height: 80vh;
    object-fit:scale-down;
    justify-content: center; 
    background-color: #292222; 
}

.like_button{
    border: none;
    background-color: inherit;
}

/* --------------------------HOME PAGE------------------------*/

.home-sections{
    margin-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}

#features{
    margin-top: 24px;
    text-align: center;
    padding-bottom: none;
}

.feature-link{
    padding-top: 24px;
    padding-bottom: 12px;
    height: 200px;
}

.feature-link > *{
    padding: inherit;
}

#art-link{
    background-color: #9e0000;
    color:#ffffff;
    padding-bottom:0;
}

#faq-link{
    background-color: #810000;
    color:#dadada;
    padding-bottom:0;
}

#booking-link{
    background-color: #4e0000;
    color:#e7e7e7;
    padding-bottom:0;
}

/* --------------------------------------Authentication pages */

.primaryAction{
    background-color: #292222;
    color:#d8d2d2;
}

.signout-column h1 p form{
    text-align: center;
}

/* --------------------------------------CONTACT PAGE-------- */



/* ----------------------------------------------------Footer */
.footer{
    /* background-color: #353535; */
    text-align: center;
    color:#fafafa;
    height: 150px;
}

.social-media-icons{
    font-size: 30px;
    color:#fafafa;
    padding-left: 3px;
    padding-right: 3px;
}

.footer-content{
    padding-top: 35px;
}