{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block content %}

<header>
    <div class="main-header">
        <h1>Delete Comment</h1>
    </div>
</header>

<div class="container light-text center-text">
    <p>Are you sure you want to delete your comment: <br/>" {{ comment.body}} " ?</p>
    <form method="POST">
        {% csrf_token %}
        <a><button class="deleteButton" type="submit">DELETE</button></a>
        <a href="/artwork" class="primaryAction">cancel</a>
    </form>

</div>    

{% endblock %}