{% extends "base.html" %}

{% block content %}

<header>
    <p class="alert alert-warning consultation-alert" role="alert"><a href="{% url 'booking' %}">Book Your Free
            Consultation
            Today!</a><button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </p>
    <div class="hero-image light-text">
        <h1>Red Rebel Tattoo Parlour</h1>
        <h2>Qualified Tattooists, Quality Tattoos</h2>
    </div>
</header>

<article class="container light-text">
    <!-- About us-->
    <section id="about-us" class="home-sections">
        <h2>Welcome To Red Rebel Tattoos</h2>
        <p id="about-us-text">
            We are a team of professional tattooists, together we have over 100 years in tattooing experience!
            <br>We are based in South Shields, 
            <a href="{% url 'contact' %}" aria-label="Contacts page">click here</a> to find us!
            We have been tattooing Sand Dancers and beyond for over 25 years.
            We cover a broad range of styles, here at Red Rebel Tattoos you can be sure to find
            the design you are looking for. In our studio we have physical copies our each of our team member's
            portfolios.
            Feel free to pop in anytime to peruse our work (we also have excellent coffee!)
            We offer free consultations, whether this is your first tattoo or your fiftieth.
            You can use our <a href="{% url 'booking' %}">booking form</a> to arrange a consultation with a
            specific tattooist, if you have someone in mind!
            <br>
            <br>We pride ourselves on being a 5 star local health
            authority registered studio. We carry out all tattooing to the highest standard.
        </p>
    </section>
    <!-- Quotes -->
    <section id="quotes" class="home-sections">
        <h2>Our Customers Say...</h2>
        <div id="review-carousel" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                {% for review in reviews %}
                {% if forloop.first %}
                <div class="carousel-item active review-quote">
                {% else %}
                <div class="carousel-item review-quote">
                {% endif %}
                    <blockquote class="blockquote">
                        <p class="mb-0"><i class="fa fa-quote-left"></i> {{ review.review }} <i
                                    class="fa fa-quote-right"></i></p>
                        <footer class="blockquote-footer">{{ review.name }}</footer>
                    </blockquote>
                </div>
                {% endfor %}
                </div>
            </div>
    </section>
</article>
<div class="container-fluid">
    <!-- Features -->
    <section id="features">
        <div class="row">
            <div class="col-md-4 feature-link" id="art-link">
                <h3>Artwork <i class="fa fa-palette"></i></h3>
                <p>Check out our artwork <a href="{% url 'artwork' %}">here...</a></p>
            </div>
            <div class="col-md-4 feature-link" id="faq-link">
                <h3>Have a Question? <i class="fa fa-comments"></i></h3>
                <p>Get in touch <a href="{% url 'contact' %}">here...</a></p>
            </div>
            <div class="col-md-4 feature-link" id="booking-link">
                <h3>Book Now! <i class="fa fa-calendar-check"></i></h3>
                <p>Get your journey with us started <a href="{% url 'booking' %}">here...</a></p>
            </div>
        </div>
    </section>
</div>

{%endblock%}