{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-12 masthead-text">
                <h1 class="post-title mt-3 light-text">{{ post.caption }}
                </h1>
                <p class="post-subtitle light-text">{{ post.artist }} | {{ post.created_on }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 img-fluid ">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://res.cloudinary.com/dl7iptr4y/image/upload/v1658136194/hero-image_ggid7b.jpg" width="100%"
                    class=" post-image">
                {% else %}
                <img src="{{ post.featured_image.url }}" width="100%" class="post-image">
                {% endif %}
            </div>
            
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 card mb-4  mt-3 post-details-card">
            <div class="card-body">
                <p class="card-text">{{ post.description | safe }}</p>
                <div class="row">
                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'post_like' post.slug %}" 
                            method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="artwork_id" value="{{post.slug}}"
                                    class="like_button"><i class="fas fa-heart"></i></button>

                                {% else %}
                                <button type="submit" name="artwork_id" value="{{post.slug}}"
                                    class="like_button"><i class="far fa-heart"></i></button>

                                {% endif %}
                            </form>
                            {% else %}
                            <span><i class="far fa-heart"></i></span>

                            {% endif %}
                        </strong>
                        <strong>{{ post.number_of_likes }}</strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong><i class="far fa-comments"></i>
                            {{ total_comments }}
                        </strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 card mb-4  mt-3 post-details-card">
            
            <div class="card-body">
                <h3>Comments:</h3>
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        {{ comment.name }}
                        <span class=" font-weight-normal">
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    {{ comment.body | linebreaks }}
                </div>
                {% endfor %}
            </div>
        </div>
        
        <div class="col-md-6 card mb-4  mt-3 post-details-card">
            <div class="card-body">
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                
                {% if user.is_authenticated %}
                <h3>Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="primaryAction">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}